/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonColor {
  color: aliceblue !important;
}

.tinyTitle {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--Colors-Text-text-secondary_on-brand, #e9d7fe);
  text-align: center;
}

.mainTitle {
  color: #fff;
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.625rem;
  letter-spacing: -1.44px;
}

.mainBlueTitle {
  color: #1570ef;
}

.minorTitle {
  color: var(--Colors-Text-text-tertiary_on-brand, #e9d7fe);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .tinyTitle {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .mainTitle {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .minorTitle {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
}
