/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.rightBottomBackground {
  width: 375.336px;
  height: 216.315px;
  transform: rotate(24.399deg);
  flex-shrink: 0;
  border-radius: 424.446px;
  opacity: 0.8;
  background: linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  filter: blur(215.730712890625px);
  position: absolute;
  right: 0;
  bottom: 0;
}

.leftTopBackground {
  width: 509.546px;
  height: 293.664px;
  transform: rotate(24.399deg);
  flex-shrink: 0;
  border-radius: 576.216px;
  opacity: 0.8;
  background: linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  filter: blur(292.8700866699219px);
  position: absolute;
  left: 0;
  top: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonColor {
  color: aliceblue !important;
}

.tinyTitle {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--Colors-Text-text-secondary_on-brand, #e9d7fe);
  text-align: center;
}

.mainTitle {
  color: #fff;
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.625rem;
  letter-spacing: -1.44px;
}

.mainBlueTitle {
  color: #1570ef;
}

.minorTitle {
  color: var(--Colors-Text-text-tertiary_on-brand, #e9d7fe);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.getStatedLink {
  border-radius: 8px;
  background: #026;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 0;
  color: #fff !important;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .tinyTitle {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .mainTitle {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .minorTitle {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  .getStatedLink {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .rightBottomBackground {
    width: 10rem;
    height: 6rem;
    border-radius: 10rem;
  }

  .leftTopBackground {
    width: 12rem;
    height: 8rem;
    border-radius: 15rem;
  }
}
