/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 912px;
}

.heroBanner:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/img/banner.svg');
  opacity: 0.12;
  z-index: -1;
}

.rightBottomBackground {
  width: 375.336px;
  height: 216.315px;
  transform: rotate(24.399deg);
  flex-shrink: 0;
  border-radius: 424.446px;
  opacity: 0.8;
  background-image: linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  background-image: -webkit-linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  background-image: -moz-linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  filter: blur(215.730712890625px);
  position: absolute;
  right: 0;
  bottom: 0;
}

.leftTopBackground {
  width: 509.546px;
  height: 293.664px;
  transform: rotate(24.399deg);
  flex-shrink: 0;
  border-radius: 576.216px;
  opacity: 0.8;
  background-image: linear-gradient(
    132deg,
    rgb(5 129 229) 0%,
    rgb(5 213 213) 100%
  );
  background-image: -webkit-linear-gradient(132deg, #0581e5 0%, #05d5d5 100%);
  background-image: -moz-linear-gradient(to right, #0581e5, #05d5d5);
  filter: blur(292.8700866699219px);
  position: absolute;
  left: 0;
  top: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonColor {
  color: aliceblue !important;
}

.tinyTitle {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--Colors-Text-text-secondary_on-brand, #e9d7fe);
  text-align: center;
}

.mainTitle {
  color: #fff;
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.625rem;
  letter-spacing: -1.44px;
}

.mainBlueTitle {
  color: #1570ef;
}

.minorTitle {
  color: var(--Colors-Text-text-tertiary_on-brand, #e9d7fe);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 48px;
}

.getStatedLink {
  border-radius: 8px;
  background: #175cd3;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 0;
  color: #fff !important;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 16px 22px;
}

.joinUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}
.joinUsTitle {
  color: #f5f5f6;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  padding-bottom: 20px;
}

.joinUsDescription {
  color: #94969c;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding-bottom: 64px;
}

.joinUsConnection {
  display: flex;
  height: 84px;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(22, 27, 38, 0.25) 0%,
    rgba(5, 129, 229, 0.25) 48.29%,
    rgba(22, 27, 38, 0.25) 100%
  );
}

.joinUsConnectionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #f5f5f6;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.joinUsArrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/img/arrow.svg');
}

.joinUsIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.joinUsTwitter {
  background: url('/img/twitter.svg');
}
.joinUsGithub {
  background: url('/img/github.svg');
}
.joinUsDiscord {
  background: url('/img/discord.svg');
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: 24rem;
  }
  .tinyTitle {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .mainTitle {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .minorTitle {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .getStatedLink {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.6rem;
  }

  .rightBottomBackground {
    width: 10rem;
    height: 6rem;
    border-radius: 10rem;
  }

  .leftTopBackground {
    width: 12rem;
    height: 8rem;
    border-radius: 15rem;
  }

  .joinUsWrapper {
    padding: 3rem 0;
  }
  .joinUsTitle {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-bottom: 0.6rem;
  }

  .joinUsDescription {
    font-size: 0.6rem;
    line-height: 0.9rem;
    padding-bottom: 2rem;
  }

  .joinUsConnection {
    height: 2.6rem;
    gap: 3%;
    border-radius: 4px;
  }

  .joinUsConnectionItem {
    gap: 8px;
    font-size: 8px;
    line-height: 20px;
  }

  .joinUsArrow {
    width: 1rem;
    height: 1rem;
  }
}
